.form{
    justify-content: center;
    height: 230px;
    width: 330px;
    color: white;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(110, 4, 102);
}
.main{
    margin: 10px 10px 10px 10px;
    height: 500px;
    width: 330px;
    margin: 79px 0px 10px 435px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 15px rgb(3 3 3);
}
input{
    margin-top: 15px;
}
button{
    margin-top: 15px;
    background-color: darkslateblue;
    border-radius: 10px;
}
input{
    border-radius: 10px;
    padding: 5px 5px 0px 5px;
}
